apiVersion: apps/v1
kind: Deployment
metadata:
  name: subtraction
  namespace: subtraction
spec:
  replicas: 1
  selector:
    matchLabels:
      app: subtraction
  template:
    metadata:
      labels:
        app: subtraction
    spec:
      containers:
        - name: subtraction
          image: bogdanserdinov/infra-example:1.1.0
          command: [ "/bin/sh", "-c", "subtraction" ]
          ports:
            - containerPort: 9090
          envFrom:
            - configMapRef:
                name: subtraction-config
          livenessProbe:
            httpGet:
              path: /heathz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 10
          resources:
            requests:
              cpu: 10m          # 1% of a CPU core
              memory: 32Mi      # 32 MB of memory
            limits:
              cpu: 100m         # 10% of a CPU core
              memory: 128Mi     # 128 MB of memory
